<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
  <title>Kyle Patterson - Computer Scientist</title>
  <link href="./style.css" type="text/css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
</head>
<body>
  <div class="header">
    <div class="hbar"></div>
    <div class="title">
      <h1>KYLEIS.DEV</h1>
    </div>
  </div>
  <div class="hbar sticky" name="mainmenu" id="mainmenu">
    <div class="navbar">
      <a {% if page.title = 'Home' %}class='active'{% endif %} href="./">Home</a>
      <a {% if page.title = 'About' %}class='active'{% endif %} href="./about">About</a>
      <a {% if page.title = 'Contact' %}class='active'{% endif %} href="./contact">Contact</a>
    </div>
  </div>
  <div class="content">
    <div class="hbar"></div>
    <div id="intro" name="intro" class="bordered textbox">
      <h2>{{ page.title }}</h2>
      {{ content }} 
   </div>
  </div>
  <footer>
    <p><strong>Designed and coded with &#9829;</strong></p>
    <p>&copy; 2020-2021 Kyle Patterson</p>
  </footer>


</body></html>
